$color-body: #a7b300bd;
$color-bodyPorang: #027a8a;
$primary_color :#2196f3;
$primary_HOVERcolor:#103d63;
$secondary_color:#fcfcfc;
$onlyWhite_color:#ffff;
$color_greyBackgroud:#dcdcdc;
$color_greyborder: #9e9e9e;
$bg-hoverbtn:#e9e9e9;
$txcolor-hoverbtn: #9e9e9e;
$color-title:#103d63;
$color-btn:#103d63;